.home-intro-sect {
    background-color: #643e72;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
    padding: 0 0 60px 0;
}

.title-sect {
    min-height: 100vh;
    background-image: url("../img/symbol.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: contain;

    .title {
        color: white;
        font-size: 38px;
        font-weight: 700;
        align-items: center;
        margin-top: auto;

        @media (max-width: 396px) {
            text-align: center;
            max-width: 315px;
        }
    }

    .cursor {
        margin: auto auto 30px auto;
    }

    .cursor:hover .svg-cursor {
        stroke: $main-color;
    }
}

.line_1, .line_2 {
    background: #cacadb;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    margin: auto;
}

.line_1{
    background: #cacadb;
    max-width: 95%;
}

.line_2{
    background: #e7e7f2;
    max-width: 90%;
}


.home-slider-sect .carousel-item {
    background-color: $lightgrey-color;
}

.home-slider-sect {
    position: relative;
    margin-top: 60px;

    @media (max-width: 376px) {
        margin-top: 30px;
    }

    .container {
        margin-bottom: 90px;
    }

    @media (max-width: 376px) {
        padding: 0;
    }
}

.slider-row {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.slider-text {
    padding: 30px;

    @media (max-width: 1280px) {
        max-width: 65%;
    }

    @media (max-width: 768px) {
        margin: 0 auto;
        max-width: 588px;
    }

    &-name,
    &-role {
        color: $greytext-color;
    }

    &-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.22;
        margin-bottom: 0px;
        padding-bottom: 6px;
    }

    &-role {
        font-size: 14px;
        line-height: 1.38;
    }

    .section-heading {
        margin-bottom: 30px;
    }
}

.slider-img {
    position: relative;
    overflow: hidden;
    width: 100%;

    @media (max-width: 768px) {
        height: 500px;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            transform: translate(-50%, -50%) scale(1.25);
        }

        @media (max-width: 420px) {
            transform: translate(-50%, -50%);
        }
    }
}

.carousel-indicators {
    position: absolute;
    bottom: -75px;

    .custom-carousel-indicator {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $lightblue-color;

        &:nth-child(2n) {
            margin: 0 15px;
        }

        &.active {
            background-color: $secondary-color;
        }
    }
}

.carousel-inner {
    border-radius: 12px 0 0 12px;

    @media (max-width: 768px) {
        border-radius: 12px;
    }
}

.clients-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 12px;
    overflow: hidden;

    @media (max-width: 1920px) {
        max-width: 1720px;
    }

    @media (max-width: 1324px) {
        border-radius: 0px;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 420px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .clients-item {
        img {
            width: 100%;
        }
    }
}

.clients-sect {
    margin-bottom: 60px;
    p {
        text-transform: uppercase;
        font-size: 14px;
        color: #323264;
        font-weight: 700;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 30px;
    }

    @media (max-width: 376px) {
        margin-bottom: 0;
    }
}

.footer-sect {
    background-color: $lightgrey-color;
}

.footer-text {
    padding-top: 30px;
    margin-bottom: 30px;

    // .subheading {
    //     &::after {
    //         content: "";
    //         background-image: url(../img/pointer-img.svg);
    //         background-position: center;
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         display: inline-block;
    //         width: 12px;
    //         height: 12px;
    //         position: absolute;
    //         left: 112px;
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }
    // }

    .section-heading {
        margin: 10px 0 0 0;
    }
}

.card-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 1920px) {
        max-width: 1600px;
    }

    @media (max-width: 768px) {
        grid-template-rows: 514px 368px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;

        :nth-child(3n) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }

    @media (max-width: 485px) {
        :nth-child(3n) {
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
            grid-row-end: auto;
        }
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
}

.card-body {
    padding: 0;

    .card-content {
        padding: 30px;

        hr {
            // color: #E6E6F0; /*color from figma is not visible on a white card background*/
            color: $greytext-color;
            height: 4px;
        }

        .card-title {
            a {
                color: $secondary-color;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.2;
                text-decoration: none;
            }

            :hover {
                color: $main-color;
            }
        }

        .card-subtitle {
            color: $greytext-color;
            font-size: 12px;
            font-weight: 700;
            line-height: 0.9;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 15px 0;
        }

        .card-text {
            color: black;
            font-size: 14px;
            line-height: 1.4;
            margin: 15px 0 0 0;
        }
    }
}

.info-sect {
    .card-container {
        gap: 60px;

        @media (max-width: 768px) {
            grid-template-rows: auto;
            grid-template-columns: repeat(2, 1fr);

            :nth-child(3n) {
                grid-column-start: auto;
                grid-column-end: auto;
                grid-row-start: auto;
                grid-row-end: auto;
            }
        }

        @media (max-width: 440px) {
            :nth-child(3n) {
                grid-column-start: auto;
                grid-column-end: auto;
                grid-row-start: auto;
                grid-row-end: auto;
            }
            grid-template-rows: auto;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    .card-content {
        padding: 0;
        .card-title {
            margin: 30px 0 15px;

            a {
                font-size: 22px;
                line-height: 1.7;
            }
        }

        .card-text {
            font-size: 16px;
            line-height: 1.6;
            color: white;
        }
    }
}

.info-text {
    a {
        &.active {
            color: $main-color;
        }
    }

    // .subheading {
    //     &::after {
    //         content: "";
    //         background-image: url(../img/pointer-img.svg);
    //         background-position: center;
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         display: inline-block;
    //         width: 12px;
    //         height: 12px;
    //         position: absolute;
    //         left: 73px;
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }
    // }

    .section-heading {
        margin: 10px 0 60px;

        @media (max-width: 376px) {
            margin-bottom: 30px;
        }
    }
}

.exp-sect {
    .container {
        margin-bottom: 60px;
        margin-top: 75px;

        @media (max-width: 1200px) {
            margin: 60px;
            width: auto;
        }

        @media (max-width: 376px) {
            margin: 0 30px 30px;
            width: auto;
        }
    }
}

.tab-content {
    width: 581px;
    color: white;

    @media (max-width: 376px) {
        margin-bottom: 0px;
    }
}

.d-flex {
    justify-content: center;
    gap: 60px;

    @media (max-width: 1000px) {
        flex-direction: column;
        gap: 0;
    }

    .flex-column {
        align-items: flex-end;
        overflow: hidden;

        @media (max-width: 1240px) {
            // width: 60%;
            margin-right: 0px !important;
            min-width: 375px;
        }

        @media (max-width: 1000px) {
            flex-direction: row !important;
            flex-wrap: nowrap;
            gap: 30px;
            width: auto;
        }

        :nth-child(n + 3) {
            @media (max-width: 1000px) {
                display: none;
            }
        }

        :nth-child(n + 2) {
            @media (max-width: 465px) {
                display: none;
            }
        }

        .exp-heading {
            padding: 0;
            border: none;
            color: $greytext-color;
            background-color: transparent;
            font-size: 38px;
            font-weight: 700;
            line-height: 1.2;
            margin: 15px 0;
            text-align: right;

            &.active {
                background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: $main-color;
            }

            &:hover {
                color: darken($greytext-color, 10%);
            }
        }
    }
}

.tab-content {
    margin: 43px 0;

    @media (max-width: 1000px) {
        width: auto;
        border-top: 4px solid #6f6f92;
        padding-top: 60px;
    }

    @media (max-width: 1240px) {
        margin: 0;
    }

    @media (max-width: 376px) {
        padding-top: 30px;
    }

    .exp-text-heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 30px;

        @media (max-width: 376px) {
            font-size: 20px;
        }
    }

    .exp-text-details {
        font-size: 19px;
        line-height: 1.58;
    }
}

.vr {
    width: 4px;
    background-color: #6f6f92;

    @media (max-width: 1000px) {
        display: none;
    }
}
