.services-entry-sect {
    padding: 180px 0 0px;

    @media (max-width: 992px) {
        padding-top: 280px;
    }

    @media (max-width: 576px) {
        padding-top: 132px;
    }
}

.services-container {
    @media (max-width: 1920px) {
        max-width: 1360px;
    }

    @media (max-width: 1440px) {
        max-width: 1080px;
    }

    @media (max-width: 1024px) {
        max-width: 904px;
    }

    @media (max-width: 768px) {
        max-width: 668px;
    }

    @media (max-width: 376px) {
        max-width: 315px;
    }
}

.services-title {
    text-align: center;

    .img-service-entry {
        margin: 0 auto;
        display: block;
    }

    .services-title-heading {
        margin: 28px 0;
    }

    .services-title-text {
        color: white;
        font-size: 19px;
        line-height: 1.58;
    }
}

.services-btn {
    margin: 28px 0 60px;

    @media (max-width: 376px) {
        margin-bottom: 30px;
    }
}

.services-catalog {
    padding-top: 30px;
    border-top: 4px solid #9999b2;

    &-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 1.22;
        color: white;
        margin-bottom: 30px;
    }

    .catalog {
        display: flex;
        gap: 60px;

        @media (max-width: 590px) {
            gap: 30px;
            flex-direction: column;
        }

        .left-catalog {
            max-width: 49%;
        }

        .left-catalog,
        .right-catalog {
            @media (max-width: 590px) {
                max-width: 100%;
            }
        }
    }
}
ul {
    @media (max-width: 590px) {
        padding-left: 17px;
    }

    li span {
        color: white;
        font-size: 18px;
        line-height: 1.44;
    }
}

.line_bottom_2 {
    margin-bottom: 60px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6f6f92;
    display: none;
}

.popup.opened {
    display: flex;
}

.popup-dialog {
    max-width: 650px;
    box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
    margin: auto;
}

.heading-close-btn {
    display: flex;
    justify-content: space-between;
}

.popup-close {
    background-image: url(../img/popup-close.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: none;
    background-color: transparent;
}
