.secondary-lang-item,
.secondary-address,
.secondary-tel {
    color: $greytext-color;
}

.navbar-dark .navbar-nav .secondary-link {
    color: $secondary-color;
    position: relative;

    &:hover {
        color: darken($secondary-color, 10%);
    }

    &.active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 3px;
    }
}

.secondary-toggler {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2850, 50, 100, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.team-sect {
    padding: 180px 0 60px;

    @media (max-width: 576px) {
        padding: 130px 0 30px;
    }

    .container {
        padding: 0;

        @media (max-width: 396px) {
            max-width: 315px;
        }
    }

    .team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        padding: 0px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }

        .team-info-card-img-top {
            width: 100%;
            border-radius: 12px;
        }
    }
}

.team-text-outer-block {
    margin: 0 120px 60px 120px;

    @media (max-width: 992px) {
        margin-top: 100px;
    }

    @media (max-width: 768px) {
        margin: 130px 30px 30px;
    }

    @media (max-width: 576px) {
        margin-top: 30px;
    }

    @media (max-width: 396px) {
        margin: 0px 0px 30px;
    }

    &-inner-block {
        text-align: left;
    }
}

.team-name {
    color: $darkblue-color;
    margin-top: 15px;

    &:hover {
        color: $main-color;
    }
}

.team-role {
    margin-bottom: 0;
}

.team-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slider-text-name {
        margin: 0px;
    }
}

.pointer {
    &:hover .svg-pointer {
        stroke: $main-color;
    }
    @media (max-width: 576px) {
        transform: rotate(-90deg);
    }
}

.navbar-team-logo {
    @media (max-width: 477px) {
        width: 141px;
    }
}
