@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "variables";
@import "header";
@import "home";
@import "footer";
@import "team-page";
@import "publications-page";
@import "services-page";
@import "contacts-page";
@import "aboutas_page";
@import "publication_entry-page";
@import "service_entry-page";
@import "team_entry-page";

* {
    font-family: "Montserrat", sans-serif;
}

.subheading {
    font-size: 14px;
    color: $secondary-color;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.subheading:hover,
.subheading2:hover {
    color: $main-color;
    stroke: $main-color;
}

.section-heading {
    background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    color: $main-color;
    font-weight: 700;

    @media (max-width: 396px) {
        font-size: 30px;
    }
}
